# Игноруємо каталоги, де зберігаються моди, шейдери та ресурспаки, якщо вони є в локальному середовищі
mods/
resourcepacks/
shaders/

# Не відслідковуємо файли конфігурацій або тимчасові файли, що генеруються при завантаженні
*.log
*.bak
*.swp

# Ігноруємо файли, які згенеровані при розпаковці або завантаженні з GitHub
*.jar
*.mrpack

# Ігноруємо папки з бібліотеками або іншими залежностями, якщо вони згенеровані локально

venv/
build/
dist/

# Системні та тимчасові файли
.DS_Store
Thumbs.db
.idea/
.vscode/

# Файли, що генеруються при запуску програми (наприклад, кеші)
*.cache